flows.json
[{"id":"ba48ef39.8eb5e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2b6406d2.79c7aa","type":"ui_text","z":"ba48ef39.8eb5e","group":"dc25698.50fb198","order":2,"width":0,"height":0,"name":"","label":"Predicition","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":500,"wires":[]},{"id":"b60094fc.6718b8","type":"ui_form","z":"ba48ef39.8eb5e","name":"","label":"","group":"dc25698.50fb198","order":1,"width":0,"height":0,"options":[{"label":"LVActivePower ","value":"LVActivePower","type":"number","required":true},{"label":"WSpeed","value":"WSpeed","type":"number","required":true},{"label":"WindDirection ","value":"WindDirection","type":"number","required":true}],"formValue":{"LVActivePower":"","WSpeed":"","WindDirection":""},"payload":"","submit":"","cancel":"","topic":"","x":50,"y":420,"wires":[["783d3bcb.3b91b4"]]},{"id":"783d3bcb.3b91b4","type":"function","z":"ba48ef39.8eb5e","name":"parameters","func":"\nglobal.set(\"LVActivePower\",msg.payload.LVActivePower)\nglobal.set(\"WSpeed\",msg.payload.WSpeed)\nglobal.set(\"WindDirection\",msg.payload.WindDirection )\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":320,"wires":[["4a53c909.91aea8","42d9be4d.271fa"]]},{"id":"4a53c909.91aea8","type":"http request","z":"ba48ef39.8eb5e","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":230,"y":500,"wires":[["83c3cd63.d6893","8ea48283.11661"]]},{"id":"83c3cd63.d6893","type":"debug","z":"ba48ef39.8eb5e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":450,"y":560,"wires":[]},{"id":"ebff9e44.f3fde","type":"http request","z":"ba48ef39.8eb5e","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/66d22f92-3f3d-42f2-a8a6-3664ba1b4f05/deployments/330d728f-0808-494d-a4cd-d960001973de/online","tls":"","proxy":"","authType":"basic","x":390,"y":200,"wires":[["45494c5b.a50d64","8abdac48.8b948"]]},{"id":"45494c5b.a50d64","type":"debug","z":"ba48ef39.8eb5e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":240,"wires":[]},{"id":"8abdac48.8b948","type":"function","z":"ba48ef39.8eb5e","name":"","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":440,"wires":[["2b6406d2.79c7aa"]]},{"id":"8ea48283.11661","type":"function","z":"ba48ef39.8eb5e","name":"prediction","func":"var token = msg.payload.token\nvar LVActivePower=global.get('LVActivePower')\nvar WSpeed=global.get('WSpeed')\nvar WindDirection=global.get('WindDirection')\nmsg.payload ={\"fields\":[\"LVActivePower\",\"WSpeed\",\"WindDirection\"],values:[[LVActivePower,WSpeed,WindDirection]]}\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":360,"wires":[["ebff9e44.f3fde","ae497e7c.84526"]]},{"id":"42d9be4d.271fa","type":"debug","z":"ba48ef39.8eb5e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":300,"y":140,"wires":[]},{"id":"d289c5da.0acda8","type":"debug","z":"ba48ef39.8eb5e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":40,"y":560,"wires":[]},{"id":"ae497e7c.84526","type":"debug","z":"ba48ef39.8eb5e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":440,"wires":[]},{"id":"dc25698.50fb198","type":"ui_group","z":"","name":"Input Parameters","tab":"e36a7a8e.442ff8","disp":true,"width":"6","collapse":false},{"id":"e36a7a8e.442ff8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]